In [1]:
import pandas as pd
from scipy.io import netcdf
import numpy as np
import matplotlib
import matplotlib.pyplot as plt

In [5]:
from netCDF4 import Dataset

# Open the NetCDF file for reading
nc_file = Dataset('b.e21.BHISTcmip6.f09_g17.LE2-1001.001.cam.h0.SST.185001-185912.nc', 'r')

In [9]:

lat_data = nc_file.variables['lat'][:]

In [12]:
lat_data

masked_array(data=[-90.        , -89.05759162, -88.11518325, -87.17277487,
                   -86.23036649, -85.28795812, -84.34554974, -83.40314136,
                   -82.46073298, -81.51832461, -80.57591623, -79.63350785,
                   -78.69109948, -77.7486911 , -76.80628272, -75.86387435,
                   -74.92146597, -73.97905759, -73.03664921, -72.09424084,
                   -71.15183246, -70.20942408, -69.26701571, -68.32460733,
                   -67.38219895, -66.43979058, -65.4973822 , -64.55497382,
                   -63.61256545, -62.67015707, -61.72774869, -60.78534031,
                   -59.84293194, -58.90052356, -57.95811518, -57.01570681,
                   -56.07329843, -55.13089005, -54.18848168, -53.2460733 ,
                   -52.30366492, -51.36125654, -50.41884817, -49.47643979,
                   -48.53403141, -47.59162304, -46.64921466, -45.70680628,
                   -44.76439791, -43.82198953, -42.87958115, -41.93717277,
                   -40.9947644 , -40.05235602, -39.10994764, -38.16753927,
                   -37.22513089, -36.28272251, -35.34031414, -34.39790576,
                   -33.45549738, -32.51308901, -31.57068063, -30.62827225,
                   -29.68586387, -28.7434555 , -27.80104712, -26.85863874,
                   -25.91623037, -24.97382199, -24.03141361, -23.08900524,
                   -22.14659686, -21.20418848, -20.2617801 , -19.31937173,
                   -18.37696335, -17.43455497, -16.4921466 , -15.54973822,
                   -14.60732984, -13.66492147, -12.72251309, -11.78010471,
                   -10.83769634,  -9.89528796,  -8.95287958,  -8.0104712 ,
                    -7.06806283,  -6.12565445,  -5.18324607,  -4.2408377 ,
                    -3.29842932,  -2.35602094,  -1.41361257,  -0.47120419,
                     0.47120419,   1.41361257,   2.35602094,   3.29842932,
                     4.2408377 ,   5.18324607,   6.12565445,   7.06806283,
                     8.0104712 ,   8.95287958,   9.89528796,  10.83769634,
                    11.78010471,  12.72251309,  13.66492147,  14.60732984,
                    15.54973822,  16.4921466 ,  17.43455497,  18.37696335,
                    19.31937173,  20.2617801 ,  21.20418848,  22.14659686,
                    23.08900524,  24.03141361,  24.97382199,  25.91623037,
                    26.85863874,  27.80104712,  28.7434555 ,  29.68586387,
                    30.62827225,  31.57068063,  32.51308901,  33.45549738,
                    34.39790576,  35.34031414,  36.28272251,  37.22513089,
                    38.16753927,  39.10994764,  40.05235602,  40.9947644 ,
                    41.93717277,  42.87958115,  43.82198953,  44.76439791,
                    45.70680628,  46.64921466,  47.59162304,  48.53403141,
                    49.47643979,  50.41884817,  51.36125654,  52.30366492,
                    53.2460733 ,  54.18848168,  55.13089005,  56.07329843,
                    57.01570681,  57.95811518,  58.90052356,  59.84293194,
                    60.78534031,  61.72774869,  62.67015707,  63.61256545,
                    64.55497382,  65.4973822 ,  66.43979058,  67.38219895,
                    68.32460733,  69.26701571,  70.20942408,  71.15183246,
                    72.09424084,  73.03664921,  73.97905759,  74.92146597,
                    75.86387435,  76.80628272,  77.7486911 ,  78.69109948,
                    79.63350785,  80.57591623,  81.51832461,  82.46073298,
                    83.40314136,  84.34554974,  85.28795812,  86.23036649,
                    87.17277487,  88.11518325,  89.05759162,  90.        ],
             mask=False,
       fill_value=1e+20)

In [11]:
pd.DataFrame(lat_data)

             0
0   -90.000000
1   -89.057592
2   -88.115183
3   -87.172775
4   -86.230366
..         ...
187  86.230366
188  87.172775
189  88.115183
190  89.057592
191  90.000000

[192 rows x 1 columns]