In [26]:
import pandas as pd
from scipy.io import netcdf
import numpy as np
import matplotlib
import matplotlib.pyplot as plt

[Guide to NetCDF Data](https://towardsdatascience.com/read-netcdf-data-with-python-901f7ff61648)

From article above: Network common data form (NetCDF) is commonly used to store multidimensional geographic data. Some examples of these data are temperature, precipitation, and wind speed. Variables stored in NetCDF are often measured multiple times per day over large (continental) areas. With multiple measurements per day, data values accumulate quickly and become unwieldy to work with. When each value is also assigned to a geographic location, data management is further complicated. NetCDF provides a solution for these challenges.

In [27]:
from netCDF4 import Dataset

# Open the NetCDF file for reading
# nc_file = Dataset('b.e21.BHISTcmip6.f09_g17.LE2-1001.001.cam.h0.SST.185001-185912.nc', 'r')

# lat_data = nc_file.variables['lat'][:]

A NetCDF file has three basic parts: metadata, dimensions and variables. Variables contain both metadata and data.

In [28]:
SST1_file = Dataset('/Users/michaelvaden/Downloads/b.e21.BHISTcmip6.f09_g17.LE2-1001.001.cam.h0.SST.196001-196912.nc', 'r')

Metadata can be accessed using a print statement or with a dictionary like such:

In [29]:
SST1_file.__dict__

{'Conventions': 'CF-1.0',
 'source': 'CAM',
 'case': 'b.e21.BHISTcmip6.f09_g17.LE2-1001.001',
 'logname': 'sunseon',
 'host': 'mom2',
 'initial_file': 'b.e21.B1850.f09_g17.CMIP6-piControl.001.cam.i.1001-01-01-00000.nc',
 'topography_file': '/mnt/lustre/share/CESM/cesm_input/atm/cam/topo/fv_0.9x1.25_nc3000_Nsw042_Nrs008_Co060_Fi001_ZR_sgh30_24km_GRNL_c170103.nc',
 'model_doi_url': 'https://doi.org/10.5065/D67H1H0V',
 'time_period_freq': 'month_1'}

Access to dimensions is similar to file metadata. Each dimension is stored as a dimension class which contains pertinent information. Metadata for all dimensions can be access by looping through all available dimensions, like so.

In [30]:
for dim in SST1_file.dimensions:
    print(dim)

for dim in SST1_file.dimensions.values():
    print(dim)

lat
lon
zlon
nbnd
time
chars
lev
ilev
<class 'netCDF4._netCDF4.Dimension'>: name = 'lat', size = 192
<class 'netCDF4._netCDF4.Dimension'>: name = 'lon', size = 288
<class 'netCDF4._netCDF4.Dimension'>: name = 'zlon', size = 1
<class 'netCDF4._netCDF4.Dimension'>: name = 'nbnd', size = 2
<class 'netCDF4._netCDF4.Dimension'> (unlimited): name = 'time', size = 120
<class 'netCDF4._netCDF4.Dimension'>: name = 'chars', size = 8
<class 'netCDF4._netCDF4.Dimension'>: name = 'lev', size = 32
<class 'netCDF4._netCDF4.Dimension'>: name = 'ilev', size = 33

And the same thing can be done for variable metadata:

In [31]:
for var in SST1_file.variables.values():
    print(var)

<class 'netCDF4._netCDF4.Variable'>
float64 lat(lat)
    _FillValue: -900.0
    long_name: latitude
    units: degrees_north
unlimited dimensions:
current shape = (192,)
filling on
<class 'netCDF4._netCDF4.Variable'>
float64 lon(lon)
    _FillValue: -900.0
    long_name: longitude
    units: degrees_east
unlimited dimensions:
current shape = (288,)
filling on
<class 'netCDF4._netCDF4.Variable'>
float64 gw(lat)
    _FillValue: -900.0
    long_name: latitude weights
unlimited dimensions:
current shape = (192,)
filling on
<class 'netCDF4._netCDF4.Variable'>
float64 zlon(zlon)
    _FillValue: -900.0
    long_name: longitude
    units: degrees_east
    bounds: zlon_bnds
unlimited dimensions:
current shape = (1,)
filling on
<class 'netCDF4._netCDF4.Variable'>
float64 zlon_bnds(zlon, nbnd)
    _FillValue: -900.0
    long_name: zlon bounds
    units: degrees_east
unlimited dimensions:
current shape = (1, 2)
filling on
<class 'netCDF4._netCDF4.Variable'>
float64 lev(lev)
    _FillValue: -900.0
    long_name: hybrid level at midpoints (1000*(A+B))
    units: hPa
    positive: down
    standard_name: atmosphere_hybrid_sigma_pressure_coordinate
    formula_terms: a: hyam b: hybm p0: P0 ps: PS
unlimited dimensions:
current shape = (32,)
filling on
<class 'netCDF4._netCDF4.Variable'>
float64 hyam(lev)
    _FillValue: -900.0
    long_name: hybrid A coefficient at layer midpoints
unlimited dimensions:
current shape = (32,)
filling on
<class 'netCDF4._netCDF4.Variable'>
float64 hybm(lev)
    _FillValue: -900.0
    long_name: hybrid B coefficient at layer midpoints
unlimited dimensions:
current shape = (32,)
filling on
<class 'netCDF4._netCDF4.Variable'>
float64 P0()
    _FillValue: -900.0
    long_name: reference pressure
    units: Pa
unlimited dimensions:
current shape = ()
filling on
<class 'netCDF4._netCDF4.Variable'>
float64 ilev(ilev)
    _FillValue: -900.0
    long_name: hybrid level at interfaces (1000*(A+B))
    units: hPa
    positive: down
    standard_name: atmosphere_hybrid_sigma_pressure_coordinate
    formula_terms: a: hyai b: hybi p0: P0 ps: PS
unlimited dimensions:
current shape = (33,)
filling on
<class 'netCDF4._netCDF4.Variable'>
float64 hyai(ilev)
    _FillValue: -900.0
    long_name: hybrid A coefficient at layer interfaces
unlimited dimensions:
current shape = (33,)
filling on
<class 'netCDF4._netCDF4.Variable'>
float64 hybi(ilev)
    _FillValue: -900.0
    long_name: hybrid B coefficient at layer interfaces
unlimited dimensions:
current shape = (33,)
filling on
<class 'netCDF4._netCDF4.Variable'>
int32 ndbase()
    _FillValue: -900
    long_name: base day
unlimited dimensions:
current shape = ()
filling on
<class 'netCDF4._netCDF4.Variable'>
int32 nsbase()
    _FillValue: -900
    long_name: seconds of base day
unlimited dimensions:
current shape = ()
filling on
<class 'netCDF4._netCDF4.Variable'>
int32 nbdate()
    _FillValue: -900
    long_name: base date (YYYYMMDD)
unlimited dimensions:
current shape = ()
filling on
<class 'netCDF4._netCDF4.Variable'>
int32 nbsec()
    _FillValue: -900
    long_name: seconds of base date
unlimited dimensions:
current shape = ()
filling on
<class 'netCDF4._netCDF4.Variable'>
int32 mdt()
    _FillValue: -900
    long_name: timestep
    units: s
unlimited dimensions:
current shape = ()
filling on
<class 'netCDF4._netCDF4.Variable'>
float64 time(time)
    _FillValue: -900.0
    long_name: time
    units: days since 1850-01-01 00:00:00
    calendar: noleap
    bounds: time_bnds
unlimited dimensions: time
current shape = (120,)
filling on
<class 'netCDF4._netCDF4.Variable'>
int32 date(time)
    _FillValue: -900
    long_name: current date (YYYYMMDD)
unlimited dimensions: time
current shape = (120,)
filling on
<class 'netCDF4._netCDF4.Variable'>
int32 datesec(time)
    _FillValue: -900
    long_name: current seconds of current date
unlimited dimensions: time
current shape = (120,)
filling on
<class 'netCDF4._netCDF4.Variable'>
float64 time_bnds(time, nbnd)
    _FillValue: -900.0
    long_name: time interval endpoints
unlimited dimensions: time
current shape = (120, 2)
filling on
<class 'netCDF4._netCDF4.Variable'>
|S1 date_written(time, chars)
    _FillValue: b'-'
unlimited dimensions: time
current shape = (120, 8)
filling on
<class 'netCDF4._netCDF4.Variable'>
|S1 time_written(time, chars)
    _FillValue: b'-'
unlimited dimensions: time
current shape = (120, 8)
filling on
<class 'netCDF4._netCDF4.Variable'>
int32 ndcur(time)
    _FillValue: -900
    long_name: current day (from base day)
unlimited dimensions: time
current shape = (120,)
filling on
<class 'netCDF4._netCDF4.Variable'>
int32 nscur(time)
    _FillValue: -900
    long_name: current seconds of current day
unlimited dimensions: time
current shape = (120,)
filling on
<class 'netCDF4._netCDF4.Variable'>
float64 co2vmr(time)
    _FillValue: -900.0
    long_name: co2 volume mixing ratio
unlimited dimensions: time
current shape = (120,)
filling on
<class 'netCDF4._netCDF4.Variable'>
float64 ch4vmr(time)
    _FillValue: -900.0
    long_name: ch4 volume mixing ratio
unlimited dimensions: time
current shape = (120,)
filling on
<class 'netCDF4._netCDF4.Variable'>
float64 n2ovmr(time)
    _FillValue: -900.0
    long_name: n2o volume mixing ratio
unlimited dimensions: time
current shape = (120,)
filling on
<class 'netCDF4._netCDF4.Variable'>
float64 f11vmr(time)
    _FillValue: -900.0
    long_name: f11 volume mixing ratio
unlimited dimensions: time
current shape = (120,)
filling on
<class 'netCDF4._netCDF4.Variable'>
float64 f12vmr(time)
    _FillValue: -900.0
    long_name: f12 volume mixing ratio
unlimited dimensions: time
current shape = (120,)
filling on
<class 'netCDF4._netCDF4.Variable'>
float64 sol_tsi(time)
    _FillValue: -900.0
    long_name: total solar irradiance
    units: W/m2
unlimited dimensions: time
current shape = (120,)
filling on
<class 'netCDF4._netCDF4.Variable'>
int32 nsteph(time)
    _FillValue: -900
    long_name: current timestep
unlimited dimensions: time
current shape = (120,)
filling on
<class 'netCDF4._netCDF4.Variable'>
float32 SST(time, lat, lon)
    _FillValue: -900.0
    units: K
    long_name: sea surface temperature
    cell_methods: time: mean
unlimited dimensions: time
current shape = (120, 192, 288)
filling on

In [32]:
print(SST1_file['lat'])

<class 'netCDF4._netCDF4.Variable'>
float64 lat(lat)
    _FillValue: -900.0
    long_name: latitude
    units: degrees_north
unlimited dimensions:
current shape = (192,)
filling on

You can get actual data values by indexing, and a numpy array is returned (nice).

In [33]:
pd.DataFrame(SST1_file['lat'][:]).rename({0: "latitude"}, axis=1)

      latitude
0   -90.000000
1   -89.057592
2   -88.115183
3   -87.172775
4   -86.230366
..         ...
187  86.230366
188  87.172775
189  88.115183
190  89.057592
191  90.000000

[192 rows x 1 columns]

In [37]:
# import xarray as xr
# ds = xr.open_dataset('/Users/michaelvaden/Downloads/b.e21.BHISTcmip6.f09_g17.LE2-1001.001.cam.h0.SST.196001-196912.nc')
# ds.to_dataframe()
SST1_file['date'][:]

masked_array(data=[19600201, 19600301, 19600401, 19600501, 19600601,
                   19600701, 19600801, 19600901, 19601001, 19601101,
                   19601201, 19610101, 19610201, 19610301, 19610401,
                   19610501, 19610601, 19610701, 19610801, 19610901,
                   19611001, 19611101, 19611201, 19620101, 19620201,
                   19620301, 19620401, 19620501, 19620601, 19620701,
                   19620801, 19620901, 19621001, 19621101, 19621201,
                   19630101, 19630201, 19630301, 19630401, 19630501,
                   19630601, 19630701, 19630801, 19630901, 19631001,
                   19631101, 19631201, 19640101, 19640201, 19640301,
                   19640401, 19640501, 19640601, 19640701, 19640801,
                   19640901, 19641001, 19641101, 19641201, 19650101,
                   19650201, 19650301, 19650401, 19650501, 19650601,
                   19650701, 19650801, 19650901, 19651001, 19651101,
                   19651201, 19660101, 19660201, 19660301, 19660401,
                   19660501, 19660601, 19660701, 19660801, 19660901,
                   19661001, 19661101, 19661201, 19670101, 19670201,
                   19670301, 19670401, 19670501, 19670601, 19670701,
                   19670801, 19670901, 19671001, 19671101, 19671201,
                   19680101, 19680201, 19680301, 19680401, 19680501,
                   19680601, 19680701, 19680801, 19680901, 19681001,
                   19681101, 19681201, 19690101, 19690201, 19690301,
                   19690401, 19690501, 19690601, 19690701, 19690801,
                   19690901, 19691001, 19691101, 19691201, 19700101],
             mask=False,
       fill_value=999999,
            dtype=int32)

In [50]:
pd.DataFrame(SST1_file['SST'][1][:])

,0,1,2,3,4,5,6,7,8,9,...,278,279,280,281,282,283,284,285,286,287
0,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
1,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
2,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
3,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
4,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
187,271.345154,271.345245,271.345306,271.345428,271.345673,271.346039,271.346405,271.346191,271.346069,271.346222,...,271.344971,271.344849,271.344757,271.344696,271.344696,271.344696,271.344818,271.344940,271.345184,271.345245
188,271.352722,271.352783,271.352875,271.353027,271.353149,271.353302,271.353546,271.353821,271.354279,271.354248,...,271.351929,271.351898,271.351837,271.351837,271.351837,271.351807,271.351837,271.352112,271.352539,271.352631
189,271.359009,271.359009,271.359009,271.359100,271.359192,271.359283,271.359436,271.359589,271.359833,271.360107,...,271.357483,271.357635,271.357849,271.358063,271.358276,271.358490,271.358765,271.358978,271.359009,271.359009
190,271.364502,271.364532,271.364594,271.364624,271.364685,271.364777,271.364838,271.364929,271.365051,271.365173,...,271.364288,271.364319,271.364319,271.364349,271.364349,271.364380,271.364380,271.364410,271.364410,271.364441
191,271.367706,271.367706,271.367706,271.367706,271.367706,271.367706,271.367676,271.367676,271.367676,271.367676,...,271.367737,271.367737,271.367737,271.367737,271.367706,271.367706,271.367706,271.367706,271.367706,271.367706

In [52]:
SST2000s_file = Dataset('/Users/michaelvaden/Downloads/b.e21.BHISTcmip6.f09_g17.LE2-1001.001.cam.h0.SST.200001-200912.nc', 'r')

In [53]:
SST2000s_file['SST']

<class 'netCDF4._netCDF4.Variable'>
float32 SST(time, lat, lon)
    _FillValue: -900.0
    units: K
    long_name: sea surface temperature
    cell_methods: time: mean
unlimited dimensions: time
current shape = (120, 192, 288)
filling on


California's latitude and longitude range is 32° 30' N to 42° N and 114° 8' W to 124° 24' W.

**southern California (32.0–34.9°N; 239.4–245.6°E)**

**central California (34.9–38.6°N ;236.9–243.1°E)**

**northern California (38.8–42.4°N; 235.6–240.6°E)**

In [55]:
pd.DataFrame(SST2000s_file['SST'][0])

,0,1,2,3,4,5,6,7,8,9,...,278,279,280,281,282,283,284,285,286,287
0,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
1,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
2,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
3,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
4,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
187,271.362823,271.362671,271.362488,271.362305,271.362244,271.362274,271.362396,271.362152,271.362061,271.362091,...,271.364227,271.363953,271.363708,271.363525,271.363403,271.363281,271.363220,271.363129,271.363129,271.363037
188,271.369232,271.369080,271.368958,271.368866,271.368744,271.368683,271.368713,271.368866,271.369202,271.369141,...,271.369598,271.369507,271.369415,271.369324,271.369263,271.369141,271.369110,271.369202,271.369324,271.369385
189,271.374908,271.374847,271.374786,271.374756,271.374786,271.374756,271.374756,271.374817,271.374939,271.375092,...,271.374542,271.374573,271.374603,271.374634,271.374725,271.374847,271.374939,271.375122,271.375061,271.375000
190,271.380005,271.380005,271.380035,271.380005,271.380005,271.380035,271.380066,271.380096,271.380157,271.380219,...,271.380157,271.380188,271.380157,271.380127,271.380127,271.380096,271.380066,271.380035,271.380005,271.380005
191,271.383179,271.383179,271.383179,271.383179,271.383179,271.383148,271.383148,271.383118,271.383118,271.383087,...,271.383270,271.383240,271.383240,271.383240,271.383209,271.383209,271.383209,271.383209,271.383209,271.383209